{% extends "Blog/base.html" %}
{% block content %}
  <p class="display-4">About the Blog Project</p>
  <p class="h4">Spread your knowledge!</p>
  <div class="jumbotron">
    <p class="lead">
      This is the simple blog project developed using Python & django framework.
      This site allows you to post the blogs of your interest and spread the
      knowledge among other users. This is a simple site developed as replica of
      medium website. Spead your knowledge by posting some amazing stuff. To
      post your blog you need to be a superuser. Please contact
      the admin of the site to get an user access.
    </p>
  </div>
  <p class="h4">Thank you for visiting the site!</p>
{% endblock %}
