{% extends "UserApp/base.html"%}
{% load staticfiles %}
{% block body_block %}

  <div class="jumbotron">

    {% if registered %}
      <p class="h4">Thank you for registering to our website</p>
    {% else %}
      <p class="h3">User Registration Form</p>
      <p class="lead">Fill the form to register</p>
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="" class="btn btn-primary" value="Register">
      </form>
    {% endif %}
  </div>

{% endblock %}
